:root {
  --highlight-color: #f6cdca;
  --text-color: #664a4b;
  --text-color-light: #f9f0f0;
  --circle-width: 500px;
  --circle-width-mobile: 300px;
}

html {
  background: url(img/bg-pink.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Quicksand", serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

h1,
h2 {
  margin: 0;
  letter-spacing: 2px;
}

h1 {
  font-size: 50px;
  overflow: hidden;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
}

.test {
  background-color: var(--text-color);
  content: "";
  display: inline-block;
  height: 2.5px;
  position: relative;
  vertical-align: middle;
  width: 3%;
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
}

h2 {
  text-transform: uppercase;
  font-size: 28px;
  color: var(--text-color-light);
}

#content {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

#title,
.flip-card {
  height: var(--circle-width);
  width: var(--circle-width);
  border-radius: 50%;
}

#title > div {
  max-width: var(--circle-width);
}

.flip-card {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  background-color: transparent;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner,
.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
#title,
#profilePic {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

#title {
  position: absolute;
  background-color: var(--highlight-color);
  opacity: 0.8;
  border-radius: 50%;
}

#title div {
  margin-top: 35%;
}

/* Style the back side */
#profilePic {
  transform: rotateY(180deg);
}

#profilePic img {
  width: 100%;
  border-radius: 50%;
}

.someIcons {
  bottom: 10%;
  width: var(--circle-width);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.someIcons img {
  width: 30px;
  opacity: 0.5;
}

.someIcons img:hover {
  opacity: 1;
}

@media (max-width: 640px) {
  #title > div {
    max-width: var(--circle-width-mobile);
  }

  #title,
  .flip-card {
    height: var(--circle-width-mobile);
    width: var(--circle-width-mobile);
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 17px;
  }

  .someIcons {
    width: var(--circle-width-mobile);
  }
}
